# Don’t commit the following directories created by pub.
packages/
.pub
.packages
# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map
*.lock

**/packages
**packages/
/.settings/**
/.project
*.iml
.idea/
.dart_tool
